.course-view-container{
    width: 100%;
    /* background-color: #505050; */
}
.video-box {
    display: flex;
    flex-direction: column;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    /* 720 / 1280 = 0.5625 */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.playlist {
    height: 506.25px;
    overflow: scroll;
    /* color: hsl(0deg 0% 100% / 85%); */
}
@media only screen and (min-width: 1200px) {
    .player-container{
        min-width: 900px;
    }
    .playlist {
        height: 506.25px;
        overflow: scroll;
        margin-top: 40px;
    }
    .course-view-container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}
